@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

/*** 追加開始 ***/
p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

p.header {
    margin-top: 0.5em;
    margin-bottom: 0;
}

p.item {
    text-indent: -1em;
    padding-left: 2em;
    margin: 0.2em;
}

p.normal-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.less-indent {
    text-indent: 0;
    padding-left: 0.8em;
}

div.less-indent p {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.indent {
    margin-left: 2px;
    text-indent: 0;
    padding-left: 0.2em;
}

div.indent1 {
    text-indent: 0;
    padding-left: 1em;
}

div.indent2 {
    text-indent: 0;
    padding-left: 2em;
}

div.indent2em {
    text-indent: 0;
    padding-left: 2em;
}

div.indent20px {
    text-indent: 0;
    padding-left: 20px;
}

div.flex-box {
    display: flex;
    flex-wrap: wrap;
}

div.with-border {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    margin-left: 0px !important;
    margin-right: 8px !important;
    border: solid 1px;
    border-color: silver;
}

span, label, th, td {
    white-space: nowrap;
}

span.bold {
    font-weight: bold;
}
/*
span.h5 {
    font-size: 1.25em;
}
*/
.small {
    font-size: small;
}

label {
    margin-bottom: 0px;
}

.left-triangle {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid white;
    border-bottom: 0.5em solid transparent;
}

.left-triangle-black {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid black;
    border-bottom: 0.5em solid transparent;
}

.right-triangle {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-left: 0.5em solid white;
    border-bottom: 0.5em solid transparent;
}

.right-triangle-black {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-left: 0.5em solid black;
    border-bottom: 0.5em solid transparent;
}

hr.narrow {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 8px;
}

.vertical-center {
    /*height: 1.5rem;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*background-color: aqua;*/
}

.vertical-thick {
    height: 2.5em !important;
}

.mr-X {
    margin-right: 1.3em !important;
}

.no-display {
    display: none;
}

.inline-wrapper {
    display: inline-block;
    margin-top: 4px;
    margin-right: 1em;
}

.inline-wrapper-narrow {
    display: inline-block;
    margin-top: 4px;
    /*margin-right: 1em;*/
}

div.inline-wrapper-lt-1000 {
    margin-top: 4px;
    margin-right: 1em;
}

div.inline-wrapper-ge-500 {
    margin-top: 4px;
    margin-right: 0.5em;
}

div.inline-wrapper-ge-1000 {
    margin-top: 4px;
    margin-right: 0.5em;
}

div.inline-ml-0 {
    display: inline;
    margin-left: 0.5em;
}

div.inline-ml-1 {
    display: inline;
    margin-left: 1em;
}

div.inline-mr-0 {
    display: inline;
    margin-right: 0.5em;
}

div.inline-mr-1 {
    display: inline;
    margin-right: 1em;
}

.vertical-center .inline-wrapper,.inline-wrapper-narrow,select,input {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.position-right {
    margin-left: auto;
    margin-right: 8px;
}

.position-right-narrow {
    margin-left: auto;
    margin-right: 0px;
}

div.table-block {
    display: inline-block;
    margin-top: 10px;
    /*margin-right: 20px;*/
}

div.tbl-scroll{
    margin-top: 2px;
}

table {
    font-size: 0.8rem;
}

@media (min-width: 0px) {
    div.inline-wrapper-narrow { margin-right: 4px; }
    div.inline-or-block { display: block; margin-top: 4px; }
    div.resp-inline-block { display: block; max-width: 100%; }
    div.resp-right { margin-top: 18px; margin-left: 0px; }
    div.resp-right-2 { margin-top: 10px; margin-left: 0px; }
    div.table-block { margin-right: 0px; }
    div.tbl-scroll { overflow-x: scroll; }
    div.br-middle-width { display: none; }
    div.inline-wrapper-ge-500 { display: none; }
    div.inline-wrapper-lt-1000 { display: inline-block; }
    div.inline-wrapper-ge-1000 { display: none; }
    .resp-font-size { font-size: small; }

    .position-right-responsive {
        margin-left: auto;
        margin-right: 6px;
    }

    div.display-ge-500 { display: none; }

    .inline-narrow { display: inline; }
    .inline-narrow-small { display: inline; font-size: small; }
    .inline-narrow-2 { display: inline; }
    .inline-block-narrow-2 { display: inline-block; }
    .inline-wide { display: none; }
    .inline-wide-2 { display: none; }
    .inline-wide-small { display: none; }
    .inline-ge-300 { display: none; }
    .inline-ge-400 { display: none; }
    .inline-lt-400 { display: inline; }
    .inline-ge-400 { display: none; }
    .inline-ge-500 { display: none; }
    .inline-ge-600 { display: none; }
    .font-narrow-small { font-size: small; }

    .text-number { width: 3.5em; }
    .text-number-short { width: 2.5em; }
}

@media (min-width: 300px) {
    .inline-ge-300 { display: inline; }
}

@media (min-width: 330px) {
    div.inline-wrapper-narrow { margin-right: 4px; }
}

@media (min-width: 355px) {
}

@media (min-width: 380px) {
    div.inline-wrapper-narrow { margin-right: 8px; }
}

@media (min-width: 400px) {
    .position-right-responsive {
        margin-left: 0px;
        margin-right: 1em;
    }

    .inline-narrow { display: none; }
    .inline-narrow-small { display: none; }
    .inline-wide { display: inline; }
    .inline-wide-small { display: inline; font-size: small; }
    .inline-lt-400 { display: none; }
    .inline-ge-400 { display: inline; }
}

@media (min-width: 420px) {
    div.inline-wrapper-narrow { margin-right: 1em; }
}

@media (min-width: 480px) {
    .resp-font-size { font-size: medium; }
    .inline-narrow-2 { display: none; }
    .inline-block-narrow-2 { display: none; }
    .inline-wide-2 { display: inline; }
    .font-narrow-small { font-size: medium; }
}

@media (min-width: 500px) {
    div.display-ge-500 { display: block; }
    div.inline-wrapper-ge-500 { display: inline-block; }
    .inline-ge-500 { display: inline; margin-right: 0.5em; }
}

@media (min-width: 600px) {
    div.inline-or-block { display: inline-block; margin-top: 0px; }
    .inline-ge-600 { display: inline; margin-right: 1em; }
    .text-number { width: 4em; }
    .text-number-short { width: 3em; }
}
/*
@media (min-width: 660px) {
    div.tbl-scroll { overflow-x: initial; }
    div.table { max-width: 640px; }
}
*/
@media (min-width: 800px) {
    div.tbl-scroll { overflow-x: initial; }
    div.table { max-width: 780px; }
    div.table-block { margin-right: 20px; }
}

@media (min-width: 850px) {
    div.br-middle-width { display: block; height: 0px; margin: 0px; border: 0px; padding: 0px; }
}

@media (min-width: 940px) {
    div.br-middle-width { display: none; }
}

@media (min-width: 1000px) {
    div.resp-inline-block { display: inline-block; max-width: 48%; }
    div.resp-right { margin-top: 0px; margin-left: 20px; }
    div.resp-right-2 { margin-top: 0px; margin-left: 20px; }
    div.inline-wrapper-lt-1000 { display: none; }
    div.inline-wrapper-ge-1000 { display: inline-block; }
}


.scrollableChartWrapper {
    position: relative;
    background-color: ghostwhite;
}

/* スクロール可能グラフを囲む div */
.scrollableChartWrapper > div {
    position: relative;
    overflow-x: scroll;
}

/* Y軸イメージコピー用 canvas */
.scrollableChartWrapper > canvas {
    position: absolute; /* これにより、上の div と重なる位置に canvas が配置される */
    top: 0;
    background-color: ghostwhite; /* ここをコメントアウトすると、背景色が透明になるので、Y軸を透かしてグラフ部分が見えるようになる */
}

label, input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
}

.italic {
    font-style: italic;
    font-family: Times New Roman;
}

.vertical-align {
    vertical-align: middle;
}

.grey {
    color: grey;
}

.darkred {
    color: darkred;
}

.darkgreen {
    color: darkgreen;
}

.unselected-color {
    color: rgb(30,30,30);
}

.no-color {
    color: rgba(0,0,0,0);
}

font.bold {
    font-weight: bold;
}

.bold-font {
    font-weight: bold;
}

.normal-font {
    font-weight: normal;
}

.text-date {
    width: 6em;
    height: 24px;
    padding: 0px 4px;
}

.text-long {
    width: 19em;
    height: 24px;
    padding: 0px 4px;
}

.text-long-2 {
    width: 21em;
    height: 24px;
    padding: 0px 4px;
}

.text-number {
    height: 24px;
    padding: 0px 4px;
    text-align: right;
}

.text-number-short {
    height: 24px;
    padding: 0px 4px;
    text-align: right;
}

select {
    padding: 1px 0px;
}

.my-reconnect-modal > div {
    width: 100%;
    /* background-color: #89c7de; */
    background-color: teal;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.my-reconnect-modal a {
    color: midnightblue;
    font-weight: bold;
}

.components-reconnect-hide > div {
    display: none;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-rejected > div {
    display: none;
}

.components-reconnect-rejected > .rejected {
    display: block;
}

.dummy {
    display: none;
}

/*** 追加終わり ***/

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 479.98px) {
/*
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
*/
    .main > div, .description {
        padding-left: 1rem !important;
        padding-right: 0.5rem !important;
    }

}

@media (min-width: 480px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    /* 削除
    .main .top-row {
        position: sticky;
        top: 0;
    }
    */

    .main > div, .description {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (min-height: 700px) {
    .main .top-row {
        position: sticky;
        top: 0;
    }
}

