@page "/"
@namespace ChartBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="新型コロナウイルス,グラフ,陽性者数,実効再生産数,重症者数予測,死亡者数予測" />
    <title>新型コロナウイルス 陽性者数グラフ</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/Chart.js/Chart.css" />
    <style>
    </style>
</head>
<body>
    <div>
        @* see: https://docs.microsoft.com/ja-jp/aspnet/core/blazor/fundamentals/additional-scenarios?view=aspnetcore-3.1 *@
        @*<component type="typeof(App)" render-mode="ServerPrerendered" />*@
        <component type="typeof(App)" render-mode="Server" />
    </div>

    <div class="description less-indent" id="dummy-description">
        <h1 style="font-size: x-large;">新型コロナウイルス 陽性者数グラフ</h1>

        <p class="darkgreen" style="margin: 2rem; font-size: x-large">ただいま初期化中・・・</p>

        <p>当アプリは、日々の新型コロナウイルス陽性者数、簡易実効再生産数(Rt)および検査陽性率をグラフ表示するものです。
           全国および都道府県別に表示することができます。
           ウイルスに感染しCOVID-19を発症した患者のうちの<a href="/forecast">重症者数および死亡者数</a>の予測グラフを表示するページもあります。</p>
        <p style="margin-top: 10px">
           また、利用者の想定するRt増減シナリオに基づいて、簡単な計算によって算出した近似移動平均と推計陽性者の推移シミュレーションを表示することも可能です。
           ただし、将来の陽性者数がこのグラフの通りに推移することを予測するものではありませんのでご注意ください。</p>
        <p style="margin-top: 10px">
            今後の陽性者数のおおよその増減傾向をあらかじめ把握していただくためのアプリとお考えください。</p>
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <div style="padding-left: 2em; padding-bottom: 10px">
        <hr />
        <div class="inline-wrapper-x" style="margin-bottom: 4px"><span>&copy; <a href="https://twitter.com/oktopus59" target="_blank">@@oktopus59</a> (OKA Toshiyuki)</span></div>
        <div class="inline-wrapper" style="margin-bottom: 4px"><span><a href="/">新規陽性者数</a></span></div>
        <div class="inline-wrapper" style="margin-bottom: 4px"><span><a href="/forecast">重症者数予測・死亡者数予測</a></span></div>
        <div class="inline-wrapper" style="margin-bottom: 4px"><span><a href="/about">ソース・データ・作者・お知らせ</a></span></div>
    </div>

    <div id="components-reconnect-modal" class="components-reconnect-hide my-reconnect-modal" syle="display: none;">
        <!--
        <div class="show"><p>サーバに接続しています...</p></div>
        <div class="failed"><p>メンテナンスのためにサーバが再起動した可能性があります。<br />しばらく待ってからページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
        <div class="rejected"><p>サーバとの接続が切れました。<br />ページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
        -->
        <div class="show"><p>再接続中...（または<a href="javascript:location.reload()">リロード</a>）</p></div>
        <div class="failed"><p>ページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
        <div class="rejected"><p>ページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js'></script>
    <script src="~/script/DrawChart.js"></script>

</body>
</html>
