@page "/"
@namespace ChartBlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="新型コロナウイルス,グラフ,陽性者数,実効再生産数,重症者数予測,死亡者数予測" />
    <title>新型コロナ 新規陽性者数グラフ</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/Chart.js/Chart.css" />
    <style>
    </style>
</head>
<body>
    <div>
        @* see: https://docs.microsoft.com/ja-jp/aspnet/core/blazor/fundamentals/additional-scenarios?view=aspnetcore-3.1 *@
        @*<component type="typeof(App)" render-mode="ServerPrerendered" />*@
        <component type="typeof(App)" render-mode="Server" />
    </div>
    <hr style="margin: 0.75rem;"/>
    <div class="description">
        <div id="home-page" style="display:none;">
            <!-- 陽性者数グラフ -->
            <h6>【使い方】</h6>
            <div class="less-indent">
                <p>「<span class="bold">＋</span>」「<span class="bold">－</span>」ボタンをクリックすると、棒グラフの幅を増減できます。（注）</p>
                <p>「&#9664;」「&#9654;」ボタンをクリックすると、ラジオボタンで選択できる道府県を増減したり順序を入れ換えたりできます。（最初は「<span class="bold">他</span>」をクリックしてください）</p>
                <p>「<span class="bold">予想曲線</span>」をONにすると、過去の実効再生産数(Rt)の推移から計算した<font class="darkred">Rt推移近似（赤の破線）</font>と<font class="darkgreen">予想陽性者数移動平均（緑の破線）</font>を表示します。</p>
                <p>「<span class="bold">推計陽性数</span>」をONにすると、陽性者数の推計値を棒グラフ表示します。</p>
                <p>「<span class="bold">利用者設定</span>」をONにすると、Rtの変化シナリオを利用者自身で設定できます。</p>
                <p>「<span class="bold">左Ｙ軸最大値</span>」で、都道府県ごとにグラフの左Y軸（陽性者数）の最大値を設定できます。「≧N」を選択すると全都道府県に対して左Y軸最大値の下限をNに設定します。</p>
                <p>「<span class="bold">右Ｙ軸最大値</span>」で、都道府県ごとにグラフの右Y軸（実効再生産数）の最大値を設定できます。</p>
                <p>「<span class="bold">クリック時のみツールチップ表示</span>」をONにすると、スマホでツールチップを拡大して見たい場合などで操作がしやすくなります。</p>
                <p>「<span class="bold">予想曲線を前面に表示</span>」をONにすると、破線で描画される予想曲線を実線よりも前面に表示します。</p>
                <p>「<span class="bold">推計陽性者数 棒グラフの最小幅</span>」で、「推計陽性数」をONにした際の棒グラフの最小幅を設定できます。</p>
                <p>「<a href="/reset">リセット</a>」ページに移動し、「OK」ボタンをクリックすると、すべての利用者設定を初期状態に戻します。</p>
                <p>設定情報はお使いのブラウザが管理しているローカルストレージに保存されます。</p>
            </div>

            <p class="normal-margin"></p>
            <h6>【説明】</h6>
            <div class="less-indent">
                <p>当アプリは、日々の新型コロナウイルス陽性者報告数および簡易実効再生産数(Rt)をグラフ表示するものです。<a href="/forecast">重症者数・死亡者数のグラフを表示するページ</a>もあります。</p>
                <p style="margin-top: 10px">
                    また、想定した Rt の増減シナリオに基づいて、簡単な計算によって算出した予想移動平均と推計陽性者を表示することも可能です。
                    ただし、将来の陽性者数がこのグラフの通りに推移することを保証するものではありませんのでご注意ください。</p>
                <p style="margin-top: 10px">今後の陽性者数のおおよその増減傾向をあらかじめ把握していただくためのアプリとお考えください。</p>

            </div>
            <div class="less-indent">
                <p style="margin-top: 10px"><span class="bold">予想曲線</span></p>
                    <p>後述の「利用者設定」がOFFの場合、ここに表示される値はシステムにより自動的に計算されたものとなります。</p>
                    <div class="indent20px">
                        <p>「基準日」は、予想曲線の表示開始日となります。直近35日間の中で Rt が最大/最小/極大/極小/傾き(正負)最大となる日のうち、
                            それを起点として計算した予想Rtおよび予想移動平均が実数に最も適合する日を使用します。</p>
                        <p>「変化日」は、Rtの増減傾向が変化する日です。この日までは「変化日Rt」を目標として「屈曲度」に従ってRtを変化させていきます。</p>
                        <p>「次の目標Rt」は、変化日以降の目標Rtです。この値を目標として「次の屈曲度」に従ってRtを変化させていきます。</p>
                        <p class="darkred">なお、変化日以降、将来期間に入ってからもRtが1を超えて推移している場合は、その後既定の減衰率を用いて線形に減衰させています。
                        （行政介入や人々の行動変容を期待して）</p>
                    </div>
                <p>
                    上記パラメータを基に計算した想定 Rt から移動平均を逆算し、さらにそれの7日移動平均をとって平滑化して、これを予想移動平均としてグラフ表示します。
                    上記説明でも分かるとおり、この曲線は予想というよりも、将来のRt減衰を期待した「<span class="darkred">期待曲線</span>」と呼ぶべきかもしれません。
                </p>

                <p style="margin-top: 10px"><span class="bold">推計陽性者数表示</span></p>
                    <p>「推計陽性者数表示」をONにすると、過去3週間における同曜日の増減傾向を予想移動平均に掛け合わせて推計値を算出し、グレーの棒グラフで表示します。
                        この推計値は目安程度にお考えください。 </p>

                <p style="margin-top: 10px"><span class="bold">利用者設定</span></p>
                    <p>「利用者設定」をONにすると、Rtの増減シナリオを利用者が詳細に設定できるようになります。</p>
                    <p style="margin-left: 8px">「<span class="bold">2段階設定</span>」では、基準日以降のRtの変化ポイントを2箇所まで設定できます。</p>
                    <div class="indent20px">
                        <p>各パラメータの初期値はシステム設定値になっています。「RESET」ボタンをクリックすると、各パラメータをシステム設定値で初期化します。</p>
                        <p>「基準日」を変更すると、それに基づいて残りのパラメータが自動的に更新されます（利用者がパラメータを変更していない場合）。</p>
                        <p>基準日から「変化日までの日数」が経過したところで「変化日Rt」になるように Rt を減少（または増加）させます。<br/>
                           「屈曲度」が0の場合は直線的に減少（増加）させますが、屈曲度が大きくなるにつれて、より深いカーブでRtを減少（増加）させます。<br/>
                           変化日に達したら、「次の目標Rt」に向けて再び減少（または増加）を始めます。ここで設定する「次の屈曲度」は次の目標値に達するまでの日数に影響します。
                           屈曲度が大きいほど、目標値に達する日数が増えます。</p>
                        <p><font class="darkred">「イベント」をクリックすると、都道府県別に、グラフの特定日付に対する注釈（イベント）を入力することができます。</font><br />
                            「イベント」エリアに「日付:文言」のカンマ区切りで入力してください。日付、コロン、カンマは半角文字で入力する必要があります。
                        </p>
                        <p>「Rt自動減衰率」を0より大きな値にすると、変化日以降、将来期間に入ってからもRtが1を超えて推移している場合は、この減衰率に従ってRtを線形に減衰させます。
                            （テキストボックスを空にしてEnterを押すとシステム設定値に戻ります）</p>
                        <p>「Rt極値検出期間」は、基準日の候補となる極大値/極小値を検出する際の局所期間の日数を設定します。候補日を中央にして候補日を除いた日数を局所期間とします。
                           システム設定では10日となっています（この設定は全都道府県に適用されます）。<br />
                           この日数を小さくすると、より小さな増減の波でも局所的な極大値（または極小値）として検出する可能性が高くなります（大きな値にすればその逆）。</p>
                        <p><font class="darkred">「タイムマシン」をクリックすると、過去のグラフの状態を表示したり、未来の陽性者数を入力してそのグラフを表示したりすることができます。</font><br/>
                            「入力データ」エリアに0か負の数字（たとえば-2）を入力すると、その数字の日数だけ過去に戻ったグラフを表示します。<br/>
                            陽数者数をカンマ区切りで入力すると、それを最新日の翌日以降の陽性者数データ列として取り込んでグラフ表示します。
                            厚労省の都道府県別データは1日遅れで更新されるので、報道機関などによる当日の速報値を入力してみるのもよいでしょう。</p>
                    </div>
                    <p style="margin-left: 8px">「<span class="bold">4段階設定</span>」では、基準日以降のRtの変化ポイントを4箇所まで設定できます。</p>
                    <div class="indent20px">
                        <p>「日数」のところを0または負数にすると、そのステップは無効となり使われなくなります。変化ポイントが3箇所以下の場合は適当なステップを無効にするとよいでしょう。</p>
                        <p>全国の4段階設定の例としては、基準日=2020/7/4, Days1=45, Rt1=0.83, Days2=60, Rt2=1, Days3=26, Rt3=1.4, Days4=20, Rt4=1 と設定すると、
                        2020年7月～12月にかけての全国Rtと陽性者数移動平均の変化の様子を近似することができます。</p>
                        <p>なお「4段階設定」を選択したまま<a href="/forecast">重症者数・死亡者数のグラフ</a>を表示すると、設定した全国Rt変化シナリオに基づいた予測を表示します。</p>
                    </div>
                    <p style="margin-top: 10px">
                        日付の入力で「年」を省略して「月/日」だけを入力すると、当日から9か月以内であれば当年、その外なら前年または翌年を補完します。</p>
                    <p style="margin-top: 10px">
                        各設定で「RESET」をクリックすると各都道府県ごとのパラメータが全てシステム設定値に戻ります。RESET直後であれば「CANCEL」で元に戻すことができます。<br/>
                        パラメータを個別にシステム設定値に戻したい場合は、テキストボックスを空にしてEnterを押してください。</p>
                    <p style="margin-top: 10px">
                        「利用者設定」がONの状態で「重症・死亡者」ページに移動すると、設定されたパラメータを用いた重症者・死亡者数予測も併せて表示します。</p>

                <p style="margin-top: 10px"><span class="bold">実効再生産数(Rt)</span></p>
                    <p>当ページで表示している実効再生産数は簡易方式で計算したものです。</p>
                    <p>実効再生産数については、<a href="https://toyokeizai.net/sp/visual/tko/covid19/" target="_blank">東洋経済のサイト</a>の
                    「Q. 実効再生産数とは何ですか？」の説明を参照ください。当ページで使用している計算式も、そこで説明されているものを使わせていただいています。</p>
                    <p>この計算式は、西浦先生の資料「<a href="https://github.com/contactmodel/COVID19-Japan-Reff/blob/master/nishiura_Rt%E4%BC%9A%E8%AD%B0_12May2020.pdf" target="_blank">実効再生産数とその周辺</a>」の
                    p.29「幾何級数的増殖モデルが教えてくれること」で説明されている式で、「Δt = 7」「μ = 5」として得られる式となっています。</p>

                <p style="margin-top: 10px"><span class="bold">欠損日の扱い</span></p>
                    <p>多くの自治体で（おそらくは）厚労省における集計が間に合わず、新規陽性者数が0になっている日があります（以下、欠損日）。
                    欠損日の陽性者数を0として Rt を計算すると値が変動が激しくなるおそれがあるので、その前後の陽性者数を按分して欠損日の数値を埋めてから計算するようにしています。
                    （移動平均も同様）</p>
                    <p>なお、比較的陽性者数の大きな自治体で欠損日が発生した場合、報道機関による速報値で欠損日を補完している場合があります。</p>

                <p style="margin-top: 10px"><span class="bold">利用者設定の全リセット</span></p>
                    <p>「<a href="/reset">リセット</a>」ページに移動し、「OK」ボタンをクリックすると、すべての利用者設定を初期状態に戻します。</p>
                    <p>アプリのバグなどでグラフ表示ができなくなったような場合にも、これによって回復する可能性があります。</p>
            </div>

            <p class="normal-margin"></p>
            <h6>【注意】</h6>
            <div class="less-indent">
                <p>当アプリは利用者の設定情報をブラウザが管理しているローカルストレージに保存します。ブラウザで「Cookieを無効」などに設定していると保存されませんのでご注意ください。</p>
                <p>iPhone 7 以前の機種で Safari を使用している場合、棒グラフの幅を 1 以上にするとグラフ表示が出来なくなる場合があります。</p>
                <p>当アプリの仕様は予告なく変更されます。また予告なく再起動されます。</p>
            </div>

            <p class="normal-margin"></p>
            <h6>【データソース】</h6>
            <div class="less-indent">
                <p>全国 = <a href="https://www.mhlw.go.jp/stf/covid-19/open-data.html" target="_blank">厚生労働省 オープンデータ(陽性者数)</a></p>
                <p>各都道府県 = 厚生労働省の「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00086.html" target="_blank">発生状況</a>」ページからたどれる
                「国内における都道府県別のPCR検査陽性者数」PDF資料（<a href="https://www.mhlw.go.jp/content/10906000/000721149.pdf" target="_blank">例</a>）。
                なお、2020年9月3日,4日,23日分についてはPDFからテキスト抽出ができなかったために、前日の値をコピーして使っています（つまり当日分の陽性者数が0とカウントされている）。</p>
                <p>また、全国や東京などいくつかの自治体については、報道機関による速報値を追加している場合もあります。</p>
            </div>
        </div>

        <div id="forecast-page" style="display:none;">
            <!-- 重症者数予測グラフ・死亡者数予測グラフ -->
            <h6>【説明】</h6>
            <div class="less-indent">
                <p>
                    全国のCOVID-19（新型コロナ）重症者数および死亡者の推移とその予測をグラフ表示します。<br/>
                    両グラフとも、2020年7月1日を基点として推計値を積み上げた数値を予測値として表示しています。<br/>
                    計算の途中で実数値に合わせたりはしていませんが、あまりに実数値との乖離が生じてきた場合は、想定重症率・想定死亡率を調整したり、新しい開始日の想定率を追加したりすることがあります。<br />
                    予測日（青の縦線）までは実数を基に推計値を計算し、予測日以降は「<a href="/">陽性者数</a>」-「全国」のシステム既定値（または4段階設定値）による推計陽性者数を基に計算しています。<br />
                    したがって、予測日以降の予測値と実数値にはかなり差違が生じる可能性があることにご留意ください。
                </p>

                <p style="margin-top:10px">
                    各表の各行の数値は、その行の「適用開始日」以降、次の行の「適用開始日」以前に適用される率であることを示しています。<br />
                    たとえば、重症化率の「7月1日」の行の場合、7月1～9月30日の期間に適用される率であることを示します。
                </p>

                <p style="margin-top:10px">
                    各表の「遡及日数」は、報告日を何日遡って計算対象陽性者数を算出するかを示しています。<br />
                    たとえば、死亡率の「10月1日」の行の場合、計算日が11月1日だとすると、15日遡った10月17日を中心とした前後7日間の平均値を対象陽性者数とします。
                </p>

                <p style="margin-top:10px">「改善率」は、「遡及日数」だけ遡った日を中心に前後14日間の重症者数の平均を算出し、それに「改善率」を掛け合わせた人数が重症から改善する、という想定を表す数値です。</p>

                <p style="margin-top:10px">
                    「年代別の陽性者割合」は、厚労省から毎週発表される「新型コロナウイルス感染症の国内発生動向」
                    （<a href="https://www.mhlw.go.jp/content/10906000/000696696.pdf" target="_blank">11月18日18時時点の例</a>）の「年齢階級別陽性者数」から計算しています。<br />
                    （このPDFは、「<a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00086.html" target="_blank">発生状況</a>」
                    の一覧からたどれる日別資料の末尾「（参考資料）」のところにリンクがあります。）<br />
                    新しい行が追加された場合、前回の予測日に遡って予測値が更新されます。
                </p>
            </div>

            <p class="normal-margin"></p>
            <h6>【注意】</h6>
            <div class="less-indent">
                重症化率、死亡率、改善率は、何らかの公的機関により発表されているものではありません。<br />
                あくまでも、下記データソースを基にして、当サイトの作成者がカーブフィッティングにより算出したものにすぎないことにご注意ください。<br />
                とくに、この数値について何らかの公的機関や医療機関等への問合せなどは絶対に行わないようにお願いします。
            </div>

            <p class="normal-margin"></p>
            <h6>【データソース】</h6>
            <div class="less-indent">
                <p><a href="https://www.mhlw.go.jp/stf/covid-19/open-data.html" target="_blank">厚生労働省 オープンデータ(陽性者数, 死亡者数, 重症者数)</a></p>
            </div>
        </div>

        <div id="about-page" style="display:none;">
            <!-- ソースコード・作成者 -->
            <h5>【ソースコード】</h5>
            <div class="less-indent">
                <p>当アプリのソースコードを <a href="https://github.com/oktopus1959/NcovChartBlazorApp" target="_blank">github</a> にて公開しました。
                ここには厚労省サイトのPDFから抽出した都道府県別陽性者数テキストデータも格納してあります。</p>
            </div>

            <div style="margin-top: 2rem"></div>
            <h5>【作成者】</h5>
            <div class="less-indent">
                <p>
                    Twitter: <a href="https://twitter.com/oktopus59" target="_blank">@@oktopus59</a> (OKA Toshiyuki)
                </p>
                <p>
                    このサイトは ASP.NET Core Blazor と Chart.js の勉強を兼ねて作成しました。その成果は Qiita の
                    <ul>
                        <li><a href="https://qiita.com/okatako/items/171f05dfc36d6b27769d" target="_blank">ASP.NET Core Blazor と Chart.js で入門する Web アプリ作成</a></li>
                        <li><a href="https://qiita.com/okatako/items/94a769a0925337c79483" target="_blank">Chart.js でY軸を表示しながらグラフを横スクロールする</a></li>
                    </ul>
                    にまとめてあります。
                </p>
                <p>ご意見・ご質問・ご要望は上記 Twitter または Qiita アカウントまでどうぞ。</p>
            </div>

            <div style="margin-top: 2rem"></div>
            <h5>【お知らせ・メモ・その他】</h5>
            <div id="others-description" class="less-indent"></div>
        </div>
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <div style="padding-left: 2em; padding-bottom: 10px">
        <hr />
        <div class="inline-wrapper" style="margin-bottom: 4px"><span><a href="/">新規陽性者数</a></span></div>
        <div class="inline-wrapper" style="margin-bottom: 4px"><span><a href="/forecast">重症者数予測・死亡者数予測</a></span></div>
        <div class="inline-wrapper" style="margin-bottom: 4px"><span><a href="/about">ソースコード・作者</a></span></div>
    </div>

    <div id="components-reconnect-modal" class="components-reconnect-hide my-reconnect-modal">
        <!--
        <div class="show"><p>サーバに接続しています...</p></div>
        <div class="failed"><p>メンテナンスのためにサーバが再起動した可能性があります。<br />しばらく待ってからページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
        <div class="rejected"><p>サーバとの接続が切れました。<br />ページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
        -->
        <div class="show"><p>再接続中...（または<a href="javascript:location.reload()">リロード</a>）</p></div>
        <div class="failed"><p>ページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
        <div class="rejected"><p>ページを<a href="javascript:location.reload()">リロード</a>してください。</p></div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js'></script>
    <script src="~/script/DrawChart.js"></script>

</body>
</html>
