@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4" style="height: 2em; justify-content: flex-start; z-index: 100">
        <a href="/"><span style="font-size: 1.2em">陽性者数</span></a>
        <a href="/forecast"><span style="font-size: 1.2em">重症・死亡者数</span></a>
        <a href="/about"><span style="font-size: 1.2em">ソース</span></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
